<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Carrito</ng-template>
    <div *ngIf="(products$ | async | groupBy:'id') as products">
      <p *ngIf="products.length === 0">No products</p>
      <div class="row" *ngFor="let product of products">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="box">
            <img class="image" [src]="product.image" [alt]="product.title" style="max-width: 80px; max-height: 80px;">
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="box">
            {{ product.title }}
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="box">
            {{ product.price }}
          </div>

        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="box">
            Cantidad <label> <b>({{ product.quantity}})</b> </label>
            
            &nbsp;<button mat-mini-fab color="primary" (click)="addProductCart(product)">+</button>

            &nbsp;<button mat-mini-fab color="accent" (click)="deleteProductCart(product)">-</button>
          </div>
        </div>
        <hr class="dotted">
      </div>
      

    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos personales</ng-template>
    <h1>Contenido</h1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos de pago</ng-template>
    <h1>Contenido</h1>
  </mat-step>
</mat-horizontal-stepper>